
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BackBone Twitter</title>
		
	</head>	

	<body>
		<h1>Backbone for Twitter</h1>
			<form id="new-tweet">
				<label>name </label><input id="author-name" name="author-name" type="text" />
				<label>status</label><input id="status-update" name="status-update" type="text"/> 
				<button >Post</button>
			</form>
			
			<hr/>
			<div id="tweets-container"></div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
		<script>


			(function($){

							var Tweet = Backbone.Model.extend({
								defaults:function(){
									return{
										author: '',
										status: ''
									}
								}
						    });

							var TweetList = Backbone.Collection.extend({
								model: Tweet
							});

							var tweets =new TweetList();


							var TweetView = Backbone.View.extend({
								model: new Tweet(),
								tagName: 'div',
								initialize: function(){
									this.template= _.template(
										$('#tweet-template').html()
										);
								},
								render: function(){
									this.$el.html(this.template(this.model.toJSON()));
									return this;
								}
							});

							var TweetsView= Backbone.View.extend({
								model: tweets,
								el: $('#tweets-container'),
								initialize: function(){
									this.model.on('add', this.render, this );
								},
								render: function(){
									var self = this;
									self.$el.html('');
									
									_.each(this.model.toArray(), 
										function(tweet, i){
											self.$el.append(
												(new TweetView({model: tweet}))
												.render().$el
											);
										}
									);
									return this;
								}
							});

							$(document).ready(function(){
									$('#new-tweet').submit( function(){
										var tweet= new Tweet(
											{ 
												author: $('#author-name').val(), 
												status: $('#status-update').val()
											});
										tweets.add(tweet);
										console.log(tweets.toJSON());
										return false;

									});	
									
								var appView = new TweetsView();

							});
			})(jQuery);		
		</script>
		<script type="text/template" id="tweet-template">
			<span class="author"><%= author %>:</span>
			<span class="status"><%= status %></span>
		</script>
	</body>
</html>
